@{
    ViewData["Title"] = "Contact Us Page";
}

<div class="text-center">
    <h1 class="display-4">We are available at 1-800-DEV-OPS4</h1>
    <p>We wanted to see how the workflow and GitHub Actions work!</p>
</div>
